/* Reset */

button,
button:focus,
button:active {
  background: transparent;
  border: none;
  line-height: inherit;
}

/* General */

:root {
  --language-width: 7em;
  --language-distance: calc(var(--language-width) + 0.2em);
}

:root,
body {
  font-family: "Arvo", "M+ Type-1", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 20pt;
  line-height: 1.5;
  color: black;
}

body {
  background-color: #cfff00;
  padding: 0 0.7em 3em;
}

p,
ul {
  margin-bottom: 0.7em;
}

a,
a:visited {
  text-decoration: none;
  background-color: white;
  color: inherit;
}

/* Parts */

.container {
  max-width: 17em;
  margin: auto;
}

.nav a {
  font-weight: bold;
  color: #ff00cc;
}

/* Language selection */

.language-selection {
  position: relative;
  height: 2em;
}

.language-selection .language {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--language-width);
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  font-size: 0.6em;
  text-align: center;
  background-color: white;
  cursor: pointer;

  transition-property: top;
  transition-duration: 0.2s;
}

.language-selection .language.language-english::after {
  content: "in English";
}
.language-selection .language.language-spanish::after {
  content: "en español";
}
.language-selection .language.language-japanese::after {
  content: "日本語で";
}
.language-selection .language.language-mandarin::after {
  content: "中文版";
}

.language-selection .language.selected {
  top: -2em;
}

.language-selection .language.adjusted {
  transition-property: top, right;
  transition-duration: 0.2s, 0.2s;
}

.language-selection .language.position-2 {
  right: calc(var(--language-distance) * 2);
}
.language-selection .language.position-1 {
  right: calc(var(--language-distance) * 1);
}
.language-selection .language.position-0 {
  right: 0;
}

/* Breakpoints */

/* Breakpoint: XS */
@media (max-width: 400px) {
  :root {
    --language-width: 3em;
  }

  :root,
  body {
    font-size: 16pt;
  }

  .language-selection .language.language-english::after {
    content: "EN";
  }
  .language-selection .language.language-spanish::after {
    content: "ES";
  }
  .language-selection .language.language-japanese::after {
    content: "日";
  }
  .language-selection .language.language-mandarin::after {
    content: "中";
  }
}

/* Fonts */

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: normal;
  src: local("Arvo"), url("/fonts/arvo/Arvo-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: bold;
  src: local("Arvo Bold"), local("Arvo-Bold"),
    url("/fonts/arvo/Arvo-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "M+ Type-1";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/mplus/mplus-1-regular-sub.woff") format("woff");
}

@font-face {
  font-family: "M+ Type-1";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/mplus/mplus-1-bold-sub.woff") format("woff");
}
