body {
  color: #cdcdde;
  background-color: #dadbe4;
  font: 160pt/0.8 Helvetica, "Helvetica Neue", "Trebuchet MS", Trebuchet, Lucida, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: #cdcdde;
}
a:hover {
  z-index: 1000;
  position: relative;
}
a:hover .char {
  color: #ff00cc;
  -webkit-animation: blink 1.2s steps(1) infinite;
  -moz-animation: blink 1.2s steps(1) infinite;
  -ms-animation: blink 1.2s steps(1) infinite;
  -o-animation: blink 1.2s steps(1) infinite;
  animation: blink 1.2s steps(1) infinite;
}
@-webkit-keyframes blink {
  from {
    color: #ff00cc;
  }
  25% {
    color: #cfff00;
  }
  50% {
    color: #00ebff;
  }
  75% {
    color: #7f7e7e;
  }
}
@-moz-keyframes blink {
  from {
    color: #ff00cc;
  }
  25% {
    color: #cfff00;
  }
  50% {
    color: #00ebff;
  }
  75% {
    color: #7f7e7e;
  }
}
@-ms-keyframes blink {
  from {
    color: #ff00cc;
  }
  25% {
    color: #cfff00;
  }
  50% {
    color: #00ebff;
  }
  75% {
    color: #7f7e7e;
  }
}
@-o-keyframes blink {
  from {
    color: #ff00cc;
  }
  25% {
    color: #cfff00;
  }
  50% {
    color: #00ebff;
  }
  75% {
    color: #7f7e7e;
  }
}
@keyframes blink {
  from {
    color: #ff00cc;
  }
  25% {
    color: #cfff00;
  }
  50% {
    color: #00ebff;
  }
  75% {
    color: #7f7e7e;
  }
}
a:hover .char .blink from {
  color: #ff00cc;
}
a:hover .char .blink 25% {
  color: #cfff00;
}
a:hover .char .blink 50% {
  color: #00ebff;
}
a:hover .char .blink 75% {
  color: #7f7e7e;
}
#wrapper {
  margin-bottom: 20px;
  overflow: hidden;
}
#main {
  margin-top: -5px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -40px;
  overflow: visible;
}
#main .swapped.turn1 {
  color: #ff00cc;
}
#main .swapped.turn2 {
  color: #cfff00;
}
#main .swapped.turn3 {
  color: #00ebff;
}
#main .swapped.turn4 {
  color: #7f7e7e;
}
#main #main-links {
  margin-right: -0.6em;
}
#main #about {
  width: 360px;
  font-size: 14pt;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 0.01em;
  height: 75.5pt;
  padding: 5pt 7pt;
  margin-left: 21px;
  margin-right: 40px;
  margin-bottom: 21.3pt;
  display: inline-block;
  vertical-align: bottom;
  border: 2px solid #colorText;
  background-color: #cdcdde;
  color: #7f7e7e;
}
#main #about a {
  color: #7f7e7e;
}
#main #about .swapped.turn4 {
  color: #dadbe4;
}
