:root {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: top 50vh left 50vw;
  background-size: 1rem;
  color: var(--foreground-color);
  font-size: 19px;
  height: 100%;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

a {
  color: var(--foreground-color);
  text-decoration-color: var(--tertiary-color);
  text-decoration-inset: 0.05em;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0em;
}

button {
  background-color: var(--tertiary-color);
  border: none;
  cursor: pointer;
  padding: 0 0.2em;
}

.container {
  height: 30rem;
  position: relative;
  width: 30rem;
  /* Temporary, to more easily do the layout. */
  outline: 0.2rem solid white;
}

.block {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: absolute;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }
}

/* LISTS */

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* MORE */

.icon {
  display: inline-block;
  height: 1em;
  vertical-align: center;
}

.icon > svg {
  position: relative;
  top: 0.1em;
}
